  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .navigationOpen{     
      width:250px;
  }
  .sidenav a.icon-social {
    padding: 0px 0px 0px 2px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
    text-align: center;
    line-height: 1.8;
}
#opennav{
    
    font-size:30px;
    cursor:pointer
}
ul.socials-links-side li {
  display: inline-block;
  background: #fff3d2;
  width: 35px;
  height: 35px;
  margin-top: 30px;
    margin-right: 8px;
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
 .sidenav a:hover {
    color: #ffc220;
 }
.sidenav ul.socials-links-side {
    text-align: center;
}
    .sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
   z-index: 1;
  }
  img.main-side-img {
    position: relative;
    margin-top: -60px;
    width: 100%;
}
  @media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
  }
  